$BLACK : rgba(29, 37, 50, 1);
$BLACK_BLUR : rgba(36, 36, 36, 0.5);
$WHITE: rgba(255, 255, 255, 1);
$GREEN: rgba(195, 243, 59, 1);
$Sapphire_Blue: rgba(29, 37, 50, 1);
$WHEAT:rgba(206, 206, 206, 1);

@mixin text($font-family,$font-size,$font-weight, $line-height,$text-align) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align: $text-align;
}